Flow 1.json
[{"id":"93d06450.56dd08","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"9faa937b.34e51","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"dea7aa35.b225a8","type":"tab","label":"流程1","disabled":false,"info":""},{"id":"30d73bbe.314624","type":"debug","z":"93d06450.56dd08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":430,"y":240,"wires":[]},{"id":"1d315d00.6fdb03","type":"change","z":"93d06450.56dd08","name":"Change to 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":320,"wires":[["68820865.8aaf98"]]},{"id":"1083e2d5.cc535d","type":"change","z":"93d06450.56dd08","name":"Change to 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":400,"wires":[["68820865.8aaf98"]]},{"id":"2b914666.6482fa","type":"inject","z":"9faa937b.34e51","name":"","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":true,"onceDelay":0.1,"x":70,"y":160,"wires":[["3f68b30c.485e3c"]]},{"id":"3f68b30c.485e3c","type":"function","z":"9faa937b.34e51","name":"Payload","func":"msg.headers={\n    deviceKey: \"91ZlyqHWY5gtG4lh\"\n    };\n\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":160,"wires":[["f2ad6f5b.07c17","da0e665e.902368"]]},{"id":"f2ad6f5b.07c17","type":"http request","z":"9faa937b.34e51","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"https://api.mediatek.com/mcs/v2/devices/D0UKMSrp/datachannels/Temperature/datapoints.csv","tls":"","persist":false,"proxy":"","authType":"","x":390,"y":160,"wires":[["7ee0a3f1.a2f14c","d70f6809.71d7f8"]]},{"id":"7ee0a3f1.a2f14c","type":"http response","z":"9faa937b.34e51","name":"","statusCode":"","headers":{},"x":660,"y":140,"wires":[]},{"id":"d70f6809.71d7f8","type":"debug","z":"9faa937b.34e51","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":650,"y":240,"wires":[]},{"id":"12400e79.d075d2","type":"rpi-gpio in","z":"93d06450.56dd08","name":"Button","pin":"7","intype":"up","debounce":"25","read":true,"x":70,"y":280,"wires":[["30d73bbe.314624","86c968af.f62ce8"]]},{"id":"68820865.8aaf98","type":"rpi-gpio out","z":"93d06450.56dd08","name":"LED","pin":"11","set":true,"level":"0","freq":"","out":"out","x":570,"y":400,"wires":[]},{"id":"86c968af.f62ce8","type":"switch","z":"93d06450.56dd08","name":"if input is 1","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":210,"y":320,"wires":[["1d315d00.6fdb03"],["1083e2d5.cc535d"]]},{"id":"da0e665e.902368","type":"http request","z":"9faa937b.34e51","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"https://api.mediatek.com/mcs/v2/devices/D0UKMSrp/datachannels/Humidity/datapoints.csv","tls":"","persist":false,"proxy":"","authType":"","x":400,"y":220,"wires":[["7ee0a3f1.a2f14c","d70f6809.71d7f8"]]},{"id":"90789a85.490498","type":"inject","z":"dea7aa35.b225a8","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":90,"y":180,"wires":[["5180bc0b.001924"]]},{"id":"5180bc0b.001924","type":"function","z":"dea7aa35.b225a8","name":"","func":"msg.headers={\n    deviceKey: \"91ZlyqHWY5gtG4lh\"\n    };\nmsg.payload = \"Temperature,,25.3\";\nmsg.payload = \"Humidity,,60.8\";\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":180,"wires":[["c715e81.a90f418"]]},{"id":"c715e81.a90f418","type":"http request","z":"dea7aa35.b225a8","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"https://api.mediatek.com/mcs/v2/devices/D0UKMSrp/datapoints.csv","tls":"","persist":false,"proxy":"","authType":"","x":420,"y":180,"wires":[["311326f.8dc6bda","1bcda89a.104267"]]},{"id":"311326f.8dc6bda","type":"http response","z":"dea7aa35.b225a8","name":"","statusCode":"","headers":{},"x":570,"y":180,"wires":[]},{"id":"1bcda89a.104267","type":"debug","z":"dea7aa35.b225a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":240,"wires":[]},{"id":"a46c8bab.30c618","type":"http request","z":"dea7aa35.b225a8","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"https://api.mediatek.com/mcs/v2/devices/D0UKMSrp/datapoints.csv","tls":"","persist":false,"proxy":"","authType":"","x":420,"y":240,"wires":[[]]}]