Flows 4.json
[{"id":"389bbe5.b53a942","type":"tab","label":"流程2","disabled":false,"info":""},{"id":"7a96c1c3.7217f","type":"http in","z":"389bbe5.b53a942","name":"","url":"/pin4","method":"get","upload":false,"swaggerDoc":"","x":150,"y":140,"wires":[["48dc1d5b.830614"]]},{"id":"65f01bc0.e2c604","type":"http response","z":"389bbe5.b53a942","name":"","statusCode":"","headers":{},"x":500,"y":160,"wires":[]},{"id":"b140fb8e.dae7f8","type":"debug","z":"389bbe5.b53a942","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":500,"y":240,"wires":[]},{"id":"236dc67c.d2a06a","type":"rpi-gpio in","z":"389bbe5.b53a942","name":"GPIO4","pin":"7","intype":"up","debounce":"25","read":false,"x":140,"y":300,"wires":[["5b63943.9dd726c"]]},{"id":"5b63943.9dd726c","type":"function","z":"389bbe5.b53a942","name":"set GPIO","func":"global.set(\"GPIO\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":300,"wires":[["b140fb8e.dae7f8"]]},{"id":"48dc1d5b.830614","type":"function","z":"389bbe5.b53a942","name":"","func":"msg.payload = global.get(\"GPIO\");\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":160,"wires":[["65f01bc0.e2c604","b140fb8e.dae7f8"]]}]