Flows 5.json
[{"id":"bd253522.a9f2e8","type":"tab","label":"流程3","disabled":false,"info":""},{"id":"f99d86a1.1d5a08","type":"http in","z":"bd253522.a9f2e8","name":"Set GPIO5","url":"/setgpio5","method":"get","upload":false,"swaggerDoc":"","x":180,"y":120,"wires":[["8d9b18cf.945c98","5dcf33b5.3cc1bc"]]},{"id":"8d9b18cf.945c98","type":"function","z":"bd253522.a9f2e8","name":"Set to 1","func":"msg.payload = 1;\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":220,"wires":[["881d7a8e.c9cbe8"]]},{"id":"881d7a8e.c9cbe8","type":"rpi-gpio out","z":"bd253522.a9f2e8","name":"","pin":"29","set":"","level":"0","freq":"","out":"out","x":700,"y":220,"wires":[]},{"id":"5dcf33b5.3cc1bc","type":"function","z":"bd253522.a9f2e8","name":"Return status","func":"msg.payload = \"GPIO5 set to HIGH\";\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":20,"wires":[["53b4ed44.bd9b34","219ce659.c7dffa"]]},{"id":"53b4ed44.bd9b34","type":"http response","z":"bd253522.a9f2e8","name":"","statusCode":"","headers":{},"x":650,"y":20,"wires":[]},{"id":"219ce659.c7dffa","type":"debug","z":"bd253522.a9f2e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":120,"wires":[]},{"id":"b7356f3a.cd559","type":"http in","z":"bd253522.a9f2e8","name":"Clear5 GPIO5","url":"/clear5","method":"get","upload":false,"swaggerDoc":"","x":180,"y":340,"wires":[["1da7f109.3e927f","19a69a3a.6e9dc6"]]},{"id":"1da7f109.3e927f","type":"function","z":"bd253522.a9f2e8","name":"Clear  to 0","func":"msg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":340,"wires":[["881d7a8e.c9cbe8"]]},{"id":"19a69a3a.6e9dc6","type":"function","z":"bd253522.a9f2e8","name":"Return status","func":"msg.payload = \"GPIO5 set to LOW\";\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":400,"wires":[["53b4ed44.bd9b34","219ce659.c7dffa"]]}]